nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em 0;
  align-items: center;
  background-color: #fdfdfd;
  border-bottom: 1px solid black;
  ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-evenly;
    padding: 0 1em;
    a {
      color: $text;
      text-decoration: none;
    }
  }
  img{
    width: 75px;
}
}

nav.mobile-nav{
  display: none;
}

@media screen and (max-width:1280px) {
  nav.desktop-nav{
    display: none;
  }

  nav.mobile-nav{
    border-top:1px solid black;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    ul{
        width: 100%;
        li a{
          font-size: 2.5em;
        }
    }
  }
}

footer {
  margin-top: 6em;
  border-top: 2px solid black;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  &.single-trick-page{
    margin-top: 12em;
  }
}

div.home-background {
  position: relative;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
  }
  a {
    color: $text;
    text-decoration: none;
  }
  >a i {
    font-size: 2em;
    position: absolute;
    right: 2%;
    bottom: 10%;
  }
  background-image: url("../../public/img/home-background.jpg");
  width: 100%;
  height: 90vh;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 4em;
  background-size: cover;
  background-position: center;
}

.addTrick {
  display: block;
  background-color: $primary;
  text-decoration: none;
  color: $text;
  width: 200px;
  margin: 2em auto;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  &:hover {
    transform: translate(0, -2px);
  }
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 2em;
  width: 100%;
  >a{
    display: block;
  background-color: $primary;
  text-decoration: none;
  color: $text;
  width: 200px;
  margin: 2em auto;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
  &:hover {
    transform: translate(0, -2px);
  }
  }
}

.tricks-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  margin: auto;
  flex-wrap: wrap;
  padding: 0 5%;
  .trick {
    border: 1px solid black;
    img {
      margin: auto;
      width: 100%;
    }
    width: 18%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    div {
      padding: 5px;
      border: 1px solid black;
      display: flex;
      justify-content: space-evenly;
    }
    button {
      cursor: pointer;
    }
  }
}


@media screen and (max-width:1366px) {
  .tricks-container {
    flex-direction: column;
    .trick{
      width: 70vw;
      margin: auto;
      margin-bottom: 2em;
    }
  }
  
}