

.single-trick{
  padding: 3em;
  padding-top: 0;
  .trick-action{
    display: flex;
    position: absolute;
    right: 10%;
    top: 100px;
    gap: 1em;
    button:hover{
      cursor: pointer;
    }
    i{
      font-size: 18px;
    }
  }
  .commentForm{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em auto;
    input{
      padding: 5px 10px;
    }
    button{
      width: 150px;
      margin: auto;
      background-color: $primary;
      border-radius: 5px;
      border: none;
      padding: 0.5em;
      &:hover{
          cursor: pointer;
          transform: translate(0, -2px);
      }
      font-weight: bold;
      box-shadow: 3px 3px 8px $primary;
      transition: 0.4s;
  }
  }
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(239 239 239);
    .mobile-media{
      display: none;
    }
  &>img{
    margin: auto;
    display: block;
    margin-bottom: 2em;
    width: 100%;
  }
  h1{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
  }

  .media-container{
    display: flex;
    justify-content: space-evenly;
    li{
      button{
        background-color: red;
      }
    }
    button{
      background-color: $primary;
      border: none;
      border-radius: 5px;
      transition: ease 0.2ms;
      &:hover{
        cursor: pointer;
        transform: translateY(-2px);
      }
    }
    &.displayNone{
      display: none;
    }
    img,iframe{
        width: 150px;
    }
  }

  p{
    text-align: center;
  }

  .trick-details{
    display: flex;
    justify-content: center;
    gap: 1em;
    p{
        background-color: $primary;
        padding: 5px;
        border-radius: 5px;
    }
  }

  .comments-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    img{
        width: 150px;
    }
    .comment{
        textarea{
          font-size: 18px;
        }
        
        .comment-details{
          width: 70%;
          display: flex;
          flex-direction: column;
          margin: 1em auto;
          padding-top: 0;
          >button{
            width: 60%;
            padding: 5px 10px;
            margin: auto;
            margin-top: 1em;
          }
          .commentError{
            margin: 0;
            color: red;
          }
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .commentContent{
          background-color: $background;
          padding: 5% 20%;
          border-radius: 7px;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          button:not(.comment-action button){
            margin-top: 1em;
          }
          p{
            word-wrap: break-word;
            width: 90%;
            margin: auto;
            padding: 0;
          }
        }
        .comment-action{
          display: flex;
          gap: 1em;
          padding: 10px;
          a:hover{
            cursor: pointer;
          }
          i{
            font-size: 18px;
          }
          &.displayNone{
            display: none;
          }
        }
    }
  }
}


@media screen and (max-width:1024px) {
  div.home-background.background-single-trick{
    background-image: none;
    padding-top: 4em;
    .single-trick{
      .trick-action{
        i{
          font-size: 32px;
          padding: 5px 1em;
        }
      }
      .mobile-media {
          display: block;
          background-color: $primary;
          text-decoration: none;
          color: $text;
          width: 200px;
          margin: 2em auto;
          text-align: center;
          padding: 5px 10px;
          border-radius: 5px;
          transition-duration: 0.4s;
          &:hover {
            transform: translate(0, -2px);
            cursor: pointer;
        }
        
      }
      .media-container.displayNone{
        display: none;
      }
      width: 90%;
      position:static;
      transform: none;
      margin: auto;
      padding-bottom: 2em;
      .comments-container{
        img{
            width: 70px;
        }
      }
    }
  }
}

@media screen and (max-width:580px) {
  .trick-form{
    .media-container{
      flex-direction: column;
      ul{ 
        padding: 0;
        flex-direction: column;
        li{
        flex-direction: column;
        div{
          display: flex;
          flex-direction: column;
          margin: 1em auto;
          gap: 1em;
        }
      }}
    }
  }
}