<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block css %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="icon" type="image/png" href="favicon.png"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_script_tags('app') }}
		<script src="https://kit.fontawesome.com/f64612fcfe.js" crossorigin="anonymous"></script>
		{% block javascript %}{% endblock %}
	</head>
	<body>
		<main>
			{% include "nav.html.twig" %}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</main>
		{% include "footer.html.twig" %}
	</body>
</html>
